---
import General from '../../layouts/General.astro'
---

<General>
  <div class="page-posts">
    <div class="container flex justify-center">
      <div>
        
      </div>
      <div>
        just something
      </div>
    </div>
  </div>
</General>