@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5CE0D8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5CE0D8;
}

body {
  @apply text-black min-h-screen font-montserrat bg-white
  transition-colors duration-300
  dark:bg-dark dark:text-white
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.container {
  @apply px-5 mx-auto
}