.btn {
  @apply font-semibold shadow-md px-5 py-3 rounded-full outline-none text-sm md:text-base
  duration-300 transition-shadow
}

.btn-primary {
  @apply text-white bg-primary
  hover:shadow-[0px_0px_8px_0px_#06b6d4]
  focus:shadow-[0px_0px_5px_2px_#06b6d4]
}

.btn-secondary {
  @apply text-white bg-indigo-700
  hover:shadow-[0px_0px_8px_0px_#4338ca]
  focus:shadow-[0px_0px_5px_2px_#4338ca]
}

.btn-warning {
  @apply text-white bg-tertiary
  hover:shadow-[0px_0px_8px_0px_#ea580c]
  focus:shadow-[0px_0px_5px_2px_#ea580c]
}

.btn-danger {
  @apply text-white bg-danger
  hover:shadow-[0px_0px_8px_0px_#be123c]
  focus:shadow-[0px_0px_5px_2px_#be123c]
}

.btn.has-image {
  @apply flex justify-center items-center
}
.btn.has-image span {
  @apply mr-3
}

.btn.icon {
  @apply px-0 py-0 w-12 h-12 flex justify-center items-center
}