---
import General from '../layouts/General.astro'
---

<General>
	<div class="page-404 flex">
    <div class="container flex-grow flex justify-center items-center flex-col">
      <h1 class="text-danger text-7xl font-comic-code">404</h1>
      <h2 class="text-dark dark:text-white text-2xl">Page not found.</h2>
    </div>
	</div>
</General>

<style>
  .page-404 {
    min-height: calc(100vh - (67.92px + 142px));
  }
</style>