---
import General from '../layouts/General.astro'
import Hero from '../components/pages/index/Hero.svelte'
import About from '../components/pages/index/About.svelte'
import Technicalities from '../components/pages/index/Technicalities.svelte'
import Projects from '../components/pages/index/Projects.svelte'
import Thanks from '../components/pages/index/Thanks.svelte'
import Connect from '../components/pages/index/Connect.svelte'
---

<General>
	<div class="page-index">
		<Hero/>
		<About/>
		<Technicalities client:visible/>
		<Projects client:visible/>
		<Thanks client:visible/>
		<Connect client:visible/>
	</div>
</General>