@tailwind base;
@tailwind components;
@tailwind utilities;
    
/** variables */
/* $navHeight: 62.8px */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1A2238;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5CE0D8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5CE0D8;
}

/** animations */
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dimming_shadow {
    from {
        box-shadow: 0 0 20px rgba(92, 224, 216, 0.8);
    }
    to {
        box-shadow: 0 0 30px rgba(92, 224, 216, 0.8);
    }
}

.fade-enter-active, .fade-leave-active {
    @apply transition-opacity duration-300
}
.fade-enter, .fade-leave-to {
    @apply opacity-0
}

.page-enter-active, .page-leave-active {
    @apply transition-all duration-500
}

.page-enter, .page-leave-to {
    @apply opacity-0
}

body {
    @apply text-dark-blue dark:text-teal font-montserrat min-h-screen bg-gray-300 dark:bg-dark-blue duration-500
}

.cntnr {
    @apply max-w-7xl w-full mx-auto px-5
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.section-title {
    @apply flex text-center mt-0 mx-auto mb-8 relative w-full items-center justify-center
}
.section-title img {
    max-width: 80px;
    width: 100%;
}
.section-title span {
    font-family: Fira Code;
    font-weight: 600;
    font-size: 48px;
}

.mini-title {
    @apply text-dark-blue text-lg text-center font-fira-code max-w-[500px] w-full my-0 mx-auto duration-500
}

.button {
    @apply w-full duration-500 pt-3 py-3 font-fira-code select-none font-bold
}

.form-group {
    @apply relative w-full mb-3
}

.form-input {
    box-shadow: 0px 0px 4px rgba(92, 224, 216, 0.6);
    @apply w-full text-lg px-[10px] py-[10px] font-fira-code text-teal bg-gray-600 dark:bg-[#000f1b] duration-500 border dark:border-transparent outline-none resize-none
}
.form-input:focus {
    box-shadow: 0px 0px 6px rgba(255, 207, 67, 0.8);
}

.validation-errors {
    top: calc(100% + -4px);
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);
    @apply absolute bg-red text-white text-sm z-[3] py-1 px-4 rounded-sm select-none left-[10px] duration-500
}
.validation-errors.with-textarea {
    top: 100%;
}
.validation-errors::before {
    content: "";
    bottom: calc(100% - 1px);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ff5757;
    @apply absolute w-0 h-0 left-[17px] z-[1]
}

.a-link {
    @apply text-red dark:text-yellow duration-500
}