@tailwind base;
@tailwind components;
@tailwind utilities;
    
/** variables */
/* $navHeight: 62.8px */

/** animations */
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dimming_shadow {
    from {
        box-shadow: 0 0 20px rgba(92, 224, 216, 0.8);
    }
    to {
        box-shadow: 0 0 30px rgba(92, 224, 216, 0.8);
    }
}

body {
    @apply text-dark-blue dark:text-teal font-montserrat min-h-screen bg-gray-300 dark:bg-dark-blue duration-500
}

.cntnr {
    @apply max-w-7xl w-full mx-auto px-5
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.section-title {
    @apply flex text-center mt-0 mx-auto mb-8 relative w-full items-center justify-center
}
.section-title img {
    max-width: 80px;
    width: 100%;
}
.section-title span {
    font-family: Fira Code;
    font-weight: 600;
    font-size: 48px;
}

.mini-title {
    @apply text-dark-blue dark:text-teal text-lg text-center font-fira-code max-w-[500px] w-full my-0 mx-auto duration-500
}

.button {
    @apply w-full duration-500 pt-3 py-3 font-fira-code select-none font-bold
}