@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Comic Code Ligatures';
    src: local('Comic Code Ligatures'), url('../fonts/comic-code-ligatures/ComicCodeLigatures-Light.woff2') format('woff2'),
      url('../fonts/comic-code-ligatures/ComicCodeLigatures-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Comic Code Ligatures';
    src: local('Comic Code Ligatures'), url('../fonts/comic-code-ligatures/ComicCodeLigatures-Bold.woff2') format('woff2'),
      url('../fonts/comic-code-ligatures/ComicCodeLigatures-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Comic Code Ligatures';
    src: local('Comic Code Ligatures'), url('../fonts/comic-code-ligatures/ComicCodeLigatures-Regular.woff2') format('woff2'),
      url('../fonts/comic-code-ligatures/ComicCodeLigatures-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Comic Code Ligatures';
    src: local('Comic Code Ligatures'), url('../fonts/comic-code-ligatures/ComicCodeLigatures-SemiBold.woff2') format('woff2'),
      url('../fonts/comic-code-ligatures/ComicCodeLigatures-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e293b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

body {
  @apply text-black min-h-screen font-rubik bg-gray-100
  transition-colors duration-300
  dark:bg-dark dark:text-white
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.container {
  @apply px-5 mx-auto;
}

p, h1, h2 {
  @apply transition-colors duration-300
}

.stack {
  @apply flex flex-col items-center mr-5 md:mr-10 mb-5
}
.stack:hover .icon {
  @apply scale-125
}

.image-cover {
  @apply absolute top-0 bottom-0 left-0 right-0 m-auto object-cover w-full h-full
}

.loading {
  @apply fixed top-0 left-0 right-0 bottom-0 m-auto h-full w-full flex bg-black z-50 bg-opacity-60 cursor-progress;
  background-image: url('/images/extras/loading.svg');
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}