---
import General from '../../layouts/General.astro'
import Banner from '../../components/blogs/Banner.svelte'
import Breadcrumbs from '../../components/global/Breadcrumbs.svelte'
import Blogs from '../../components/blogs/Blogs.svelte'

let urls = [
  {
    label: 'blogs',
    url: '/blogs',
  }
]
---

<General title="blogs • dthrcrpz">
  <div class="page-blogs">
    <Banner/>
    <Breadcrumbs urls={urls}/>
    <Blogs/>
  </div>
</General>