---
import '../styles/app.css'
import '../styles/buttons.css'
import '../styles/forms.css'
import '../styles/types.css'

import Navbar from '../components/global/Navbar.svelte'
const { title } = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{ (title) ? title : 'dthrcrpz' }</title>
		<link rel="icon" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
    <Navbar client:load/>
		<div class="pt-[75.92px]">
			<slot></slot>
		</div>
	</body>
</html>