---
import '../styles/app.css'
import '../styles/buttons.css'
import '../styles/forms.css'
import '../styles/types.css'

import Navbar from '../components/global/Navbar.svelte'
import Footer from '../components/global/Footer.astro'
const { title } = Astro.props
const canonicalUrl = Astro.canonicalURL
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Primary Tags -->
		<title>{ (title) ? title : 'dthrcrpz' }</title>
		<meta name="title" content="dthrcrpz">
		<meta name="description" content="Deither Corpuz's portfolio website">

		<!-- OG / Facebook -->
		<meta property="og:title" content="dthrcrpz">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/images/dthrcrpz-mask.png">
		<meta property="og:url" content={ canonicalUrl }>
		<meta property="og:description" content="Deither Corpuz's portfolio website">
		<meta property="og:site_name" content="dthrcrpz">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:image:alt" content="dthrcrpz">
		<meta property="og:image:url" content="/images/dthrcrpz-mask.png">
		<meta property="og:image:secure_url" content="/images/dthrcrpz-mask.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={ canonicalUrl }>
		<meta property="twitter:title" content="dthrcrpz">
		<meta property="twitter:description" content="Deither Corpuz's portfolio website">
		<meta property="twitter:image" content="/images/dthrcrpz-mask.png">

		<!-- Extras -->
		<meta name="keywords" content="deither, corpuz, deither corpuz, deither corpuz portfolio, deither portfolio, corpuz portfolio, web developer, laravel developer, vue developer, laravel, vue, fullstack web developer, full-stack, full stack developer">
		<meta name="format-detection" content="telephone=no">
		<link rel="canonical" href={ canonicalUrl }>

		<!-- Favicon and fonts -->
		<link rel="icon" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-5KPE51N98R"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-5KPE51N98R');
		</script>

		<script src="https://unpkg.com/scrollreveal"></script>
	</head>
	<body>
    <Navbar client:load/>
		<div class="pt-[67.92px]">
			<slot></slot>
		</div>
		<Footer/>
	</body>
</html>